.movie-details {
    position: fixed; /* Para manter os detalhes do filme fixos na tela */
    top: 50%; /* Posiciona o componente no meio verticalmente */
    left: 50%; /* Posiciona o componente no meio horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o componente */
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Para garantir que os detalhes do filme fiquem acima dos outros elementos */
    max-width: 80%; /* Limita a largura máxima do componente */
    background-color: red;

    text-align: center;
    display: flex; /* Usa flexbox para alinhamento */
  align-items: center; /* Centraliza os itens verticalmente */
  justify-content: center;

  }
  
  .movie-details img {
    width: 80%; /* Define a largura da imagem para ocupar 100% do espaço dentro do componente */
    height: auto; /* Mantém a proporção da imagem */
  }
  
  .movie-details button {
    margin-top: 10px; /* Adiciona um espaçamento acima do botão */
  }
  .btn{
    justify-content: flex-start;
  }
